/* setup */
:root {
    --bg: #000000;
    --shade1: #070712;
    --panel: #0D0D24;
    --shade2: #181832;
    --card: #23233F;
    --text: #ffffff;
    --accent: #bbbbfa
}
@font-face {
    font-family: Header;
    src: url(./fonts/SpaceMono-Bold.ttf);
}
@font-face {
    font-family: Text;
    src: url(./fonts/RobotoMono-VariableFont_wght.ttf);
}
/* defaults */
html, body {
    min-height: 100%;
}
body {
    background-color: var(--bg);
    color: var(--text);
    font-family: Text;
    display: flex;
    height: 100%;
}
h1, h2, h3, p, li, ul {
    margin: 0;
}
.panel {
    background-color: var(--panel);
}
.card {
    background-color: var(--card);
}
.svg {
    height: 15px;
}
/* sidebar */
header {
    width: 300px;
}
.channelList {
    list-style-image: url(./imgs/icons/comment-svgrepo-com.svg);
    font-size: 1.5rem;
}
.profile {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 15px;
}
.profile .pfp {
    height: 75px;
    border-radius: 100%;
}
/* popup */
#profilePopup {
    position: absolute;
    display: none;
}